*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  background: linear-gradient(orange, yellow);
}

.calculator-grid {
  display: grid;
  margin-top: 6rem;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: rgba(255, 255, 255, 0.8);
}

.span-two {
  grid-column: span 2;
}
.output {
  grid-column: 1/ -1;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
